@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin font ($fs, $fw, $fsz, $lh, $color, $ta) {
    font-style: $fs;
    font-weight: $fw;
    font-size: $fsz;
    line-height: $lh;
    color: $color;
    text-align: $ta;
}

%face {
    @include size(120px, 120px);
    border-radius: 50%;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}

%logo {
    @include size(32px, 32px);
    position: absolute;
    border: 5px white solid;
    border-radius: 50%;
    right: 0;
    bottom: 0;
}

.peoples-container {
    margin: 0 auto;
    @include size(100%, 1100px);
    max-width: 1000px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 220px 240px 220px 220px 70px;
    place-items: center;
    @media screen and (min-width: 700px) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 70px 250px 250px 70px;
        @include size(100%, 700px);
    }
    @media screen and (min-width: 1100px) {
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 70px 250px 70px;
        @include size(100%, 400px);
    }

    &__heading {
        padding: 19%;
        @media screen and (min-width: 700px) {
            grid-row: 1/2;
            grid-column: 1/3;   
        }

        @media screen and (min-width: 1100px) {
            grid-row: 1/2;
            grid-column: 1/5;   
        }

        h1 {
            @include font(normal, 700, 22px, 27px, #444444, center);
            font-style: normal;
        }
    }

    // People
    &__people {
        @include size(100%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;

        // faces
        &__face {
            &_1 {
                @extend %face;
                background-image: url('../pics/Bitmap1.png');
            }
        
            &_2 {
                @extend %face;
                background-image: url('../pics/Bitmap2.png');

            }

            &_3 {
                @extend %face;
                background-image: url('../pics/Bitmap3.png');
            }

            &_4 {
                @extend %face;
                background-image: url('../pics/Bitmap4.png');
            }

            // logos
            &__logo {
                &_1 {
                    @extend %logo;
                    background: #FF4E50;
                    background-image: url('../pics/Shape1.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 55%;
                }

                &_2 {
                    @extend %logo;
                    background: #FFA710;
                    background-image: url('../pics/camera.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 55%;
                }

                &_3 {
                    @extend %logo;
                    background: #19D4CA;
                    background-image: url('../pics/brush.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 55%;
                }

                &_4 {
                    @extend %logo;
                    background: #667DF3;
                    background-image: url('../pics/plane.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 55%;
                }
            }
        }

        // Text
        &__text {
            &__heading {
                @include font(normal, 700, 14px, 17px, #444444, center);
            }
            &__regular{
                @include font(normal, 300, 14px, 14px, #666666, center);
            }
        }
    }

    &__button{
        @include size(280px, 40px);
        @media screen and (min-width: 700px) {
            grid-row: 4/5;
            grid-column: 1/3;   
        }
        @media screen and (min-width: 1100px) {
            grid-row: 3/4;
            grid-column: 1/5;   
        }
        background: #FFFFFF;
        border: 2px solid #FF4E50;
        border-radius: 40px;
        &_link{
            @include font(normal, 700, 14px, 35px, #FF4E50, center);
            @include size(100%, 100%);
            text-decoration: none;
            display: block;
            
        }
    }

}